.attribution {
    display: block;
    position: relative;
    top: 56rem;
    text-align: center;
    font-size: .75rem;
    font-family: 'Lexend Deca';
    color: white;
    transition: all .1s;
}

.attribution a {
    font-family: 'Lexend Deca';
    color: hsl(228, 45%, 44%);
}

.attribution:after {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
}

:root {
    --white-heading: white;
    --white-text: hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);
    --purple-text: hsl(273, 48%, 59%);
    --background: hsl(233, 47%, 7%);
    --container: hsl(244, 38%, 16%);
    --pic-bckgrnd: #3e0b67;
}

body {
    display: block;
    background-color: var(--background);
    transition: all .1s;
}

#container {
    position: absolute;
    width: 20.5rem;
    height: 49rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--container);
    border-radius: .75rem;
    transition: all .1s;
}

img {
    height: 15rem;
    border-radius: .75rem .75rem 0 0;
    opacity: .3;
    transition: all .1s;
}

.img-cover {
    width: 20.5rem;
    height: 15rem;
    background-color: var(--pic-bckgrnd);
    border-radius: .75rem .75rem 0 0;
    transition: all .1s;
}

h1 {
    font-family: 'Inter';
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 3rem;
    color: var(--white-heading);
    transition: all .1s;
}

.purple {
    color: var(--purple-text);
    transition: all .1s;
}

p {
    font-family: 'Inter';
    color: var(--white-text);
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
    padding-top: 1rem;
    margin: 0 auto;
    width: 18rem;
    transition: all .1s;
}

.companies,
.templates,
.queries {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    transition: all .1s;
}

.num1 {
    display: block;
    font-family: 'Inter';
    color: var(--white-heading);
    font-weight: 700;
    font-size: 1.5rem;
    transition: all .1s;
}

.text1 {
    display: block;
    font-family: 'Lexend Deca';
    font-weight: 300;
    color: var(--stat-heading);
    font-size: .6rem;
    text-transform: uppercase;
    padding-top: .25rem;
    letter-spacing: 1.5px;
    transition: all .1s;
}

/* ---------------------------- MEDIA QUERIES ---------------------------- */

@media only screen and (min-width: 1440px) {
    #container {
        display: flex;
        width: 68.75rem;
        height: 27.875rem;
        background-color: var(--container);
        border-radius: 1.25rem;
        transition: all .1s;
    }
}

@media only screen and (min-width: 1440px) {
    img {
        position: relative;
        width: 33.75rem;
        height: 27.875rem;
        border-radius: 0 .75rem .75rem 0;
        transition: all .1s;
    }
}

@media only screen and (min-width: 1440px) {
    .img-cover {
        position: relative;
        display: grid;
        background-color: var(--pic-bckgrnd);
        width: 33.75rem;
        height: 27.875rem;
        border-radius: 0 .75rem .75rem 0;
        left: 34.937rem;
        transition: all .1s;
    }
}

@media only screen and (min-width: 1440px) {
    h1 {
        position: absolute;
        font-size: 2.175rem;
        text-align: left;
        padding-left: 5rem;
        width: 35rem;
        transition: all .1s;
    }
}

@media only screen and (min-width: 1440px) {
    p {
        position: absolute;
        font-family: 'Inter';
        color: var(--white-text);
        line-height: 1.5;
        font-size: 1rem;
        text-align: left;
        padding-left: 5rem;
        top: 10rem;
        width: 30rem;
        transition: all .1s;
    }
}

@media only screen and (min-width: 1440px) {
    .num1 {
        position: relative;
        float: left;
        display: block;
        font-family: 'Inter';
        color: var(--white-heading);
        font-weight: 700;
        font-size: 1.6rem;
        transition: all .1s;
    }

    .text1 {
        position: ab;
        display: block;
        font-family: 'Lexend Deca';
        font-weight: 300;
        color: var(--stat-heading);
        font-size: .7rem;
        text-align: left;
        text-transform: uppercase;
        margin-top: 2rem;
        letter-spacing: 1.5px;
        transition: all .1s;
    }
}

@media only screen and (min-width: 1440px) {

    .companies,
    .templates,
    .queries {
        position: relative;
        top: 18rem;
        left: -32rem;
        text-align: center;
        padding-top: 2rem;
        margin-left: 3rem;
        transition: all .1s;
    }
}

@media only screen and (min-width: 1440px) {
    .attribution {
        display: block;
        position: relative;
        text-align: center;
        top: 48rem;
        font-size: .75rem;
        font-family: 'Lexend Deca';
        color: white;
        transition: all .1s;
    }
}